<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Libre Tránsito</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <div class="page-wrapper">
  <header class="header">
    <h1>Demo - Libre Tránsito</h1>
    <p>Búsqueda de Palabras Clave</p>

    <div class="download-buttons">
      <a class="pdf-btn"
        href="{{ url_for('download_file', filename='Depositos-Vehiculares.pdf') }}"
        download>
        <i class="bi bi-file-earmark-pdf-fill pdf-icon"></i>
        Depósitos Vehiculares
      </a>

      <a class="pdf-btn"
        href="{{ url_for('download_file', filename='reglamento-de-transito-cdmx.pdf') }}"
        download>
        <i class="bi bi-file-earmark-pdf-fill pdf-icon"></i>
        Reglamento de Tránsito CDMX
      </a>
    </div>
  </header>
  
    <section class="card">
      <h2>Buscar Palabra Clave</h2>

      <form id="search-form">

        <input
          type="text"
          id="search-input"
          name="query"
          placeholder="Escribe una palabra clave (ej. montos, contratos, etc.)"
          required
        />

        <div class="pdf-select">
          <label class="pdf-option">
            <input type="radio" name="pdfChoice" value="Depositos-Vehiculares.pdf" required>
            <i class="bi bi-file-earmark-pdf-fill"></i> Depósitos Vehiculares
          </label>

          <label class="pdf-option">
            <input type="radio" name="pdfChoice" value="reglamento-de-transito-cdmx.pdf">
            <i class="bi bi-file-earmark-pdf-fill"></i> Reglamento de Tránsito CDMX
          </label>

          <label class="pdf-option">
            <input type="radio" name="pdfChoice" value="all">
            <i class="bi bi-files"></i> Buscar en ambos
          </label>
        </div>

        <button type="submit">Buscar</button>
      </form>

      <div id="search-status" class="status"></div>
    </section>

    <section id="results" class="card">
      <h2>Resultados</h2>
      <div id="results-container"></div>
      <div id="pagination" class="pagination"></div>
    </section>
  </div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>